# Deities of the world

In [1]:
import pandas as pd

In [2]:
gods = pd.read_csv('deities.csv')
gods.head()

        deity_name           deity_of        region_origin
0     Bugid Y Aiba                war                haiti
1            Ogoun                war                haiti
2        Ometeotl           fertility  Central, S. America
3          Ehecatl               wind  Central, S. America
4  huitzilopochtli  war and sacrifice  Central, S. America

In [3]:
gods.shape

(487, 3)

In [5]:
gods.deity_of

0                                           war
1                                           war
2                                     fertility
3                                          wind
4                             war and sacrifice
                         ...
482                   dreams/visions and health
483               health, the moon, and rebirth
484    mystery and martial skills, the javelin.
485                           war, supreme  god
486                           fertility and art
Name: deity_of, Length: 487, dtype: object

In [6]:
gods.loc[67]

deity_name                         Cailleach
deity_of           wisdom, disease and plague
region_origin                          Celtic
Name: 67, dtype: object

In [8]:
gods.loc[[185,240]]

    deity_name                     deity_of region_origin
185  Palioxis   spirit  retreat from battle         Greek
240       Vor              hidden knowledge         Norse

In [9]:
gods.iloc[300]

deity_name            Geb
deity_of            earth
region_origin    Egyptian
Name: 300, dtype: object

In [10]:
gods.loc[ gods['deity_of']=='war']

               deity_name deity_of        region_origin
0            Bugid Y Aiba      war                haiti
1                   Ogoun      war                haiti
13          Buluc Chabtan      war        Mayan, Mexico
15               Ekchuah       war        Mayan, Mexico
21                  Nacon      war        Mayan, Mexico
32                    Tir      war  Europe: Anglo-Saxon
38                  Aray       war             Armenian
40                  Nane       war             Armenian
57                Bandua       war               Celtic
58          Belatucadros       war               Celtic
68               Camulus       war               Celtic
69            Caswallawn       war               Celtic
72             Cicolluis       war               Celtic
118             Rudianos       war               Celtic
119               Segomo       war               Celtic
242              Bellona       war                Roman
255                 Mars       war                Roman
273             Andrasta       war        Romano-Celtic
284              Jarovit       war               Slavic
287             Rugiviet       war               Slavic
288            Svantetit       war               Slavic
289             Svetovit       war               Slavic
290              Triglav       war               Slavic
291                Zroya       war               Slavic
292                 Anhur      war             Egyptian
293                 Ankt       war             Egyptian
294               Anouke       war             Egyptian
309               Maahes       war             Egyptian
311               Menhit       war             Egyptian
312                Mentu       war             Egyptian
314                  Mont      war             Egyptian
316                 Neith      war             Egyptian
319               Pakhet       war             Egyptian
365  Futsu-Nushi-no-Kami       war         Japan/Shinto
367             hachiman       war         Japan/Shinto
383              Beg-tse       war             Tibetan
388                Indra       war                hindu
390           Karttikeya       war                hindu
409              Ashtart       war         Mesopotamian
410                Ashur       war         Mesopotamian
417              Ninurta       war         Mesopotamian
427               Nanaja       war         Mesopotamian
430       Pap-nigin-gara       war         Mesopotamian
434                Shara       war         Mesopotamian
439               Zababa       war         Mesopotamian

In [26]:
godsOfwar = gods.groupby(gods['deity_of']=='war').count()
godsOfwar

          deity_name  deity_of  region_origin
deity_of
False            442       442            442
True              45        45             45

In [29]:
wargods = gods.groupby('deity_of').count()
wargods

                                  deity_name  region_origin
deity_of
   blessed death                           1              1
   earth                                   1              1
   horses                                  1              1
   kings, justice, and rulership           1              1
  "Lord wisdom".                           1              1
...                                      ...            ...
wisdom, medicine and magic                 1              1
woman                                      1              1
women domestic skills and wisdom           1              1
writing, and interpreter  dreams           1              1
youth, love and beauty.                    1              1

[391 rows x 2 columns]

In [32]:
gods.deity_of.value_counts()

war                                                        45
wind                                                        6
storms                                                      5
thunder                                                     5
underworld                                                  5
                                                           ..
love, beauty, the moon, and medicine                        1
  love and beauty.                                          1
volcanoes and earthquakes                                   1
judge the dead and preside over the afterlife (samsara)     1
  the English.                                              1
Name: deity_of, Length: 391, dtype: int64

In [35]:
df = pd.read_csv('deities - numeric.csv')
df.head()

        deity_name deity_of       region_origin
0     Bugid Y Aiba        1               haiti
1            Ogoun        1               haiti
2        Ometeotl         5  Central, S America
3          Ehecatl        2  Central, S America
4  huitzilopochtli        1  Central, S America

In [36]:
df.shape

(482, 3)

In [37]:
df.size

1446

In [40]:
deity = df.deity_of
deity.head()

0    1
1    1
2    5
3    2
4    1
Name: deity_of, dtype: object

In [41]:
deity_ = df.deity_of.to_numpy()

In [42]:
deity_.min()

'   11 ,  8'

In [43]:
deity.max()

'9'

In [44]:
df.iloc[122]

deity_name       Taranis
deity_of                3
region_origin      Celtic
Name: 122, dtype: object

In [46]:
df.iloc[[110,120,130]]

    deity_name    deity_of region_origin
110     Niamh           15        Celtic
120  Sucellus     18 ,  22        Celtic
130  Mielikki       22 , 6       Finnish

In [47]:
df.iloc[390:400]

                deity_name   deity_of             region_origin
390                 Maruts          3                     hindu
391               Parvati   5, 10, 15                     hindu
392               Saranyu           7                     hindu
393              Saraswati         10                     hindu
394                  Shiva         25                     hindu
395                  Vayu           2                     hindu
396                Vishnu          28                     hindu
397               Krishna          28                     hindu
398                   Yama         28                     hindu
399  Ahura Mazda (Ormazd)          10  Persian / Zoroastrianism

In [48]:
df.loc[340:350, ['deity_name','deity_of']]

         deity_name deity_of
340         Ne Zha        28
341  Tsai Shen Yeh        27
342      Wen Zhong         3
343     Yunzhongzi         7
344         Yu Shi        13
345         Àganjù        28
346      Ajá (Aje)        27
347           Ayao      2, 3
348         Eleguá        28
349           Èṣhù        28
350        hara Ké        28

In [49]:
df.deity_of.unique()

array(['1', '5', '2', '6', '2, 13, , 7', '7', '13, 3, , 11',
       '1, 18, 20, 6', '14', '5, 15, , 28', '4', '13', '16 , 1',
       '10, 15,  17, , 8', '28', '25', '3', '24,  7,  7', '13, 7, , 14',
       '12', '18', ' 8 , 9 ', '  7, 12, , 7', '10', '5, 8, 10, , 11',
       '10, 15, , 11 ', '19, 28', '11, 11, , 13', '1, 3', '1, 25 , 5',
       '10 , 15', '12, 17', '4, 1', '  25, 1', '10, 28', '11', '5, 8',
       '8', '  10 , 15', '5 , 18', '19', '10, 20', '16, 9, 17, 10',
       '11, 25', '5, 22 ,  4', '1, 6, , 22s', '5, 22, 28', '28, 12 , 11',
       '25, 4', '21', '   22, 28', '9', '8, 11', '  12, 5 , 1',
       '  25, 5, 17, 1', '1, 21', '  1 , 25, 26 ', '15', '6, 11',
       '  10 , 26', '8, 9', '  21, 17, 25, 5 ', '   11 ,  8',
       '  18 ,  22', '1, 5 , 27', '26', '20', '   22 , 6', '   7 , 3',
       '11, 5', '11, 4', '  28, 7 ', '6, , 7', '19, 7', '10, 1', '23',
       '17', '  7 , 12', ' 10 , 9 ', '5 , 10', '27', '6, 9, 10', '6, 1',
       '22, 11', '6, 22', '16', '8, 25', '25, 28', '24', '10, 8 , 9',
       '28 ,  7', '6 , 5', ' 2 , 12', '16 , 5', ' 17, 10, 8, 9', '1 , 25',
       ' 17, 28', '2, 3', ' 22, 28', '6, 22, 28', '11, 27, , 8',
       ' 11, 27, 15 , 10', ' 11, 5 , 8', ' 25, 4', '5, 10, 15',
       '24, 11, 5', '10, 15, 5, 1', '11, 9, , 28', '1 , 18', '4, 5, , 1',
       '25 , 4', '10 , 1', '5, 26 , 11', '13 , 5', '5, 28', '7, 13',
       '19, 8', '8,  17, , 26'], dtype=object)

In [53]:
deity_war = df[df.deity_of == '1'].to_numpy()
deity_war

array([['Bugid Y Aiba', '1', 'haiti'],
       ['Ogoun', '1', 'haiti'],
       ['huitzilopochtli', '1', 'Central, S America'],
       ['Buluc Chabtan', '1', 'Mayan, Mexico'],
       ['Ekchuah ', '1', 'Mayan, Mexico'],
       ['Nacon', '1', 'Mayan, Mexico'],
       ['Tir', '1', 'Europe: Anglo-Saxon'],
       ['Aray ', '1', 'Armenian'],
       ['Nane ', '1', 'Armenian'],
       ['B,ua ', '1', 'Celtic'],
       ['Belatucadros ', '1', 'Celtic'],
       ['Camulus ', '1', 'Celtic'],
       ['Caswallawn ', '1', 'Celtic'],
       ['Cicolluis ', '1', 'Celtic'],
       ['Nemain ', '1', 'Celtic'],
       ['Nemain ', '1', 'Celtic'],
       ['Rudianos ', '1', 'Celtic'],
       ['Segomo ', '1', 'Celtic'],
       ['Ares ', '1', 'Greek'],
       ['Enyalius ', '1', 'Greek'],
       ['Enyo ', '1', 'Greek'],
       ['Pallas  ', '1', 'Greek'],
       ['Polemos ', '1', 'Greek'],
       ['Tyr ', '1', 'Norse'],
       ['Bellona ', '1', 'Roman'],
       ['Mars ', '1', 'Roman'],
       ['Nerio ', '1', 'Roman'],
       [',rasta ', '1', 'Romano-Celtic'],
       ['Jarovit ', '1', 'Slavic'],
       ['Rugiviet ', '1', 'Slavic'],
       ['Svantetit ', '1', 'Slavic'],
       ['Svetovit ', '1', 'Slavic'],
       ['Triglav ', '1', 'Slavic'],
       ['Zroya ', '1', 'Slavic'],
       ['Anhur', '1', 'Egyptian'],
       ['Ankt ', '1', 'Egyptian'],
       ['Anouke ', '1', 'Egyptian'],
       ['Maahes ', '1', 'Egyptian'],
       ['Menhit ', '1', 'Egyptian'],
       ['Mentu ', '1', 'Egyptian'],
       ['Mont', '1', 'Egyptian'],
       ['Neith', '1', 'Egyptian'],
       ['Pakhet ', '1', 'Egyptian'],
       ['Sekhmnet', '1', 'Egyptian'],
       ['Futsu-Nushi-no-Kami ', '1', 'Japan/Shinto'],
       ['hachiman ', '1', 'Japan/Shinto'],
       ['Bishamonten', '1', 'Japan/Shinto'],
       ['Beg-tse ', '1', 'Tibetan '],
       ['Indra ', '1', 'hindu'],
       ['Karttikeya ', '1', 'hindu'],
       ['Ashtart ', '1', 'Mesopotamian'],
       ['Ashur ', '1', 'Mesopotamian'],
       ['Ninurta ', '1', 'Mesopotamian'],
       ['Nanaja ', '1', 'Mesopotamian'],
       ['Pap-nigin-gara ', '1', 'Mesopotamian'],
       ['Sebitti', '1', 'Mesopotamian'],
       ['Shara ', '1', 'Mesopotamian'],
       ['Zababa ', '1', 'Mesopotamian'],
       ['haldi ', '1', 'Urartian/ Turkey']], dtype=object)

In [57]:
df['deity_of'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '2, 13, , 7'