In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('RLadiesGlobal-degrees.csv')
df.head()

  country    province_state   degree        field_of_study Unnamed: 4
0  Canada           Ontario      PhD  Statistics/Sociology        NaN
1  Canada  British Columbia  Masters         CompSci/Stats        NaN
2  Canada  British Columbia      PhD          Data Science        NaN
3  Canada  British Columbia      PhD            Statistics        NaN
4  Canada  British Columbia  Masters     Community Manager        NaN

In [7]:
df.describe()

,country,province_state,degree,field_of_study,Unnamed: 4
count,507,507,502,504,1
unique,5,60,6,282,1
top,USA,CA,PhD,Data Scientist,Horticulture and Crop Science
freq,461,76,227,38,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         507 non-null    object
 1   province_state  507 non-null    object
 2   degree          502 non-null    object
 3   field_of_study  504 non-null    object
 4   Unnamed: 4      1 non-null      object
dtypes: object(5)
memory usage: 19.9+ KB

In [23]:
df[ (df['province_state'] == "NY") & (df['degree']=='PhD')]

,country,province_state,degree,field_of_study,Unnamed: 4
100,USA,NY,PhD,Data Scientist,NaN
146,USA,NY,PhD,Data Scientist,NaN
154,USA,NY,PhD,Research Scientist,NaN
155,USA,NY,PhD,Disease ecologist,NaN
230,USA,NY,PhD,Statistician,NaN
252,USA,NY,PhD,Communicative Disorder & Sciences,NaN
278,USA,NY,PhD,Data Science & Data Visualization Consultant,NaN
497,USA,NY,PhD,Epidemiology and Biostatistics,NaN

In [29]:
df['field_of_study'].count()

504

In [33]:

df.groupby(df['degree']).count()

                     country  province_state  field_of_study  Unnamed: 4
degree
Associate Bachelors        1               1               1           0
Bachelors                 39              39              38           0
MD/PhD                     1               1               1           0
Masters                  196             196             195           0
Null                      38              38              38           0
PhD                      227             227             226           1

In [43]:
df.groupby(df['field_of_study'])

In [44]:
df.field_of_study

0                 Statistics/Sociology
1                        CompSci/Stats
2                         Data Science
3                           Statistics
4                    Community Manager
                    ...
502                       Data Science
503    Senior Data Scientist & Manager
504             Highway Safety Analyst
505       Research Survey Statistician
506                 Research Associate
Name: field_of_study, Length: 507, dtype: object